/* RESET DO NAV/* RESET DAS CONFIGURAÇÃOS DO  NAVEGADOR */
 *{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    
    background-color: rgb(167, 119, 57);
    background-image:url("assents/fundo\ branco.jpg") ;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    }

    h2 {
        text-align: center;
        font-size: 80px;
        font-family:""

}

    p {
        text-align: justify;
        font-size: 18px;
        margin: 15px 15px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
}

img {
      display: block;
      max-width: 450px;
      margin: 50px auto;
}

button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    
}

button a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-weight: bold;
    text-transform: uppercase;

}


button:hover {
    background-color: rgb(165, 19, 194);
    color: white;
    transition: 0.3s;
}




h3 {
        text-align: unset;
        margin: auto 30px;
        font-size: 30px;
        font-family:""
}
h4 {
        text-align: unset;
        margin: auto 30px;
        font-size: 30px;
        font-family:""

}